<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单页面</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/new1.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new5.css">

   
</head>
<body>
    <div class="head_ti">
        <ul>
            <Li><a href="/new2">订单管理</a></Li>
            <Li><a href="/new5">后台管理</a></Li>
            <Li><a>用户</a></Li>
        </ul>
    </div>
    <div>
        <h1>
            用户订单
        </h1>
    </div>
    <table>
        <form action="/new2/cha1" method="POST"/>
        <input type="text" name="cha" placeholder="姓名" />
        <input type="submit" />
        </form>
        <thead>
            <tr>
                <td colspan="9"></td>
            </tr>
            <tr>
                <td>编号<span class="upBtn"></span><span class="downBtn"></span></td>
                <td>姓名<span class="upBtn"></span><span class="downBtn"></span></td>
                <td>目的地点<span class="upBtn"></span><span class="downBtn"></span></td>
                <td>房间数<span class="upBtn"></span><span class="downBtn"></span></td>
                <td>出游日期<span class="upBtn"></span><span class="downBtn"></span></td>
                <td>归家日期<span class="upBtn"></span><span class="downBtn"></span></td>
                <td>大人数<span class="upBtn"></span><span class="downBtn"></span></td>
                <td>小孩<span class="upBtn"></span><span class="downBtn"></span></td>
                <td>操作<span class="upBtn"></span><span class="downBtn"></span></td>
            </tr>

        </thead>
        <tbody>
            <% data.forEach((o,i)=>{ %>
                <tr>
                    <td>
                        <%=o.id%>
                    </td>
                    <td>
                        <%=o.name%>
                    </td>
                    <td>
                        <%=o.destination%>
                    </td>
                    <td>
                        <%=o.rooms%>
                    </td>
                    <td>
                        <%=o.data_in%>
                    </td>
                    <td>
                        <%=o.data_out%>
                    </td>
                    <td>
                        <%=o.man%>
                    </td>
                    <td>
                        <%=o.kid%>
                    </td>
                    <td>
                        <input type="button" class="del" value="删除" data_id="<%=o.id%>" />
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <script>
        Array.from(document.getElementsByClassName("del")).forEach(i => {
            i.onclick = function () {
                window.location.href = "/new2/deta/" + this.getAttribute('data_id');
            };
        })//修改传id
       
    </script>
</body>
</body>
</html>