<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>景区景点</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/new1.css">
</head>
<body>
    <div class="head_ti">
        <ul>
            <Li><a href="/new1">首页</a></Li>
            <Li><a href="/new2">旅游图片</a></Li>
            <Li><a href="/new4">旅游地点</a></Li>
            <Li><a>用户</a></Li>
        </ul>
    </div>
    <div>
        <form action="/new4" method="POST" onsubmit="return check(this)">
            <label>中华人民共和国</label>
            <select name="shengname">
                <option> </option>
                </select>省
            <select name="shiname">
                <option> </option>
            </select>市  
        </form>
        <form>

        </form>
        
    </div>
</body>
</html>