<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/new5.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new1.css">
</head>
<body>
    <div class="head_ti">
        <ul>
            <Li><a href="/new2">订单管理</a></Li>
            <Li><a href="/new5">后台管理</a></Li>
            <Li><a href="/new6">用户</a></Li>
        </ul>
    </div>
</body>
</html>