<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <form action="/new5/update" method="POST" style="text-align: center;">
        <div><h1>成员修改信息</h1></div>
        <div>名字</div>
        <input type="text" name="name1" value="<%=obj.name %>" placeholder="修改名"/>
        <div>密码（必改）</div>
        <input type="password"name="password" value="<%=obj.possword %>" placeholder="修订密码"/>
        <div>身份</div>
        <input type="text" name="type" value="<%=obj.type %>" placeholder="身份"/>
        <input type="submit">
    </form>
</body>
</html>