<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/new2.css">
</head>
<body style="background: #4ad3b4;">
    <div id="preloader-2" style="text-align: center;">
        <span></span>
        <span></span>
        <div style="text-align: center;">
            <h1 class="h1_">正在寻找你的网页...</h1></div>
    </div>
</body>
</html>