.title_{
    text-align: center;
    color: #000;
    
}
body{
    background-size: cover;
}

.head_ti ul{
  margin: -8px auto;
  width:600px;
  height: 50px;
  padding: 0px;
}
.head_ti li{
  list-style-type: none;
  float: left;
}

.head_ti{
    background-color: #000;
}
.head_ti li a{
    display: block;
    width: 100px;
    height: 50px;
    /* font-family: Microsoft Yahei; */
    line-height: 50px;
    margin: 0px 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
.head_ti li a:hover{
    /*鼠标选中*/
    background-color: rgb(28, 177, 85);
}
